<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<!-- task servlets -->
	<servlet>
		<servlet-name>countworker</servlet-name>
		<servlet-class>pagefetcher.servlet.task.CountWorker</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>countworker</servlet-name>
		<url-pattern>/countworker</url-pattern>
	</servlet-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>testfetcher</servlet-name>
		<servlet-class>pagefetcher.servlet.test.TestFetcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>testfetcher</servlet-name>
		<url-pattern>/testfetcher</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>setuptask</servlet-name>
		<servlet-class>pagefetcher.servlet.SetupTask</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>setuptask</servlet-name>
		<url-pattern>/setuptask</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>